@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic|Nanum+Pen+Script');
@import url('https://fonts.googleapis.com/css?family=Anaheim|Rajdhani:500');

body{
    margin: 0px;
    padding: 0px;
    background-color: #e8e4d9;
}

a:link { color: #a28375; text-decoration: none;}
a:visited { color: #a28375; text-decoration: none;}
a:hover { color: #a28375; text-decoration: none;}

#msg1{
    font-family:'Rajdhani', sans-serif;
    font-size: 35px;
    color: #a28375;
    top: 10%;
    position: absolute;
    right: 24%;
}

#box{
    height: 200px;
    width: 1000px;
    background-color: #483d40;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#main{
    height: 400px;
    width: 450px;
    background-color: white;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%,-50%);
    z-index: 99;
}
#signupform{
    position: absolute;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 20px;
    top:50%;
    left:30%;
    color: #483d40;
    transform: translate(-50%,-50%);
    z-index: 1000;
}


#signupform h1{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 30px;
    color: #ab4754;
    top: 60%;
    margin-left: 30%;
}


#signupform input{
    height: 40px;
    width: 300px;
    border: 0px;
    outline: none;
    font-family: 'Nanum Gothic', sans-serif;
    border-bottom: 1px solid black;
    margin: 5px;
}

#loginform button,#signupform button{
    height: 35px;
    width: 130px;
    background-color: #ab4754;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 16px;
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-top: 30px;
    margin-left: 230px;
}

#signup_btn{
    height: 35px;
    width: 120px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    outline: none;
    position: absolute;
    left: 75%;
    top: 65%;
    transform: translate(-50%, -50%);
}
#signup_btn{
    left: 25%;
}
#login_btn:hover{
    background-color: white;
    color: #483d40;
    cursor: pointer;
}
#signup_btn:hover{
    background-color: white;
    color: #483d40;
    cursor: pointer;
}
#welcom_msg{
    font-family:'Nanum Gothic', sans-serif;
    font-size: 30px;
    color: white;
    position: relative;
    top: 50%;
    left: 109%;
    transform: translate(-50%,-50%);
    z-index: 1;
}

#msg2{
    font-family:'Rajdhani', sans-serif;
    font-size: 20px;
    color: #a28375;
    top: 150%;
    position: absolute;
    right: 24%;
}
#loginform input,#signupform input{
    height: 40px;
    width: 300px;
    border: 0px;
    outline: none;
    font-family: 'Nanum Gothic', sans-serif;
    border-bottom: 1px solid black;
    margin: 5px;
}
#loginform button,#signupform button{
    height: 35px;
    width: 130px;
    background-color: #ab4754;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 16px;
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-top: 30px;
    margin-left: 175px;
}

#login_btn,#signup_btn{
    height: 35px;
    width: 120px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    outline: none;
    position: absolute;
    left: 75%;
    top: 65%;
    transform: translate(-50%, -50%);
}
#signup_btn{
    left: 25%;
}
#login_btn:hover{
    background-color: white;
    color: #483d40;
    cursor: pointer;
}
#signup_btn:hover{
    background-color: white;
    color: #483d40;
    cursor: pointer;
}
#login_msg, #signup_msg{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 25px;
    color: white;
    position: absolute;
    top: 35%;
    left: 75%;
    transform: translate(-50%,-50%);
    z-index: 1;
}
#signup_msg{
    left:25%;
}

#msg2{
    font-family:'Rajdhani', sans-serif;
    font-size: 20px;
    color: #a28375;
    top: 150%;
    position: absolute;
    right: 24%;
}